/*
	Author: Franky Ventura
	Student ID: 0816694
	Course: WEB210
	Date: July 17th, 2025

	-------------------------------
	CSS TABLE OF CONTENTS
	-------------------------------

	1. CSS Reset
	2. Font Face Declarations
	3. Body & HTML Styles
	4. Header Styles
	5. Main Layout
	6. Navigation Styles
	7. Aside Styles
	8. Figure & Image Styles
	9. Link Styles
	10. Footer Styles
	11. Mobile Navigation (Hamburger / Curtain Menu)
	12. Responsive Layout (Media Queries)
*/

/* 1. CSS Reset */
/* Handled using normalize.css (linked externally) */

/* 2. Font Face Declarations */
@font-face {
	font-family: 'Agency';
	src: url(../fonts/Agency.ttf) format('truetype');
}

figure, nav, aside {
	flex: 1;
	max-width: 33%;
}

/* 3. Body & HTML Styles */
html, body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: 'Agency', sans-serif;
	background: linear-gradient(to bottom, #1c1f23 0%, #2e2f36 40%, #611e2e 80%, #801b28 100%);
	color: white;
	background-position: fixed;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}


/* 4. Header Styles */
header h1 {
	text-align: center;
	font-size: 4em;
	font-weight: lighter;
}

header h1::after {
	content: " Franky.";
	color: #c41e3a;
}

/* 5. Main Layout */
main {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 20px;
	max-width: 1600px;
	margin: 0 auto;
	width: 95%;
}

/* 6. Navigation Styles */
nav {
	margin-top: 60px;
	text-align: center;
	text-decoration: underline;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: -80px;
}

nav h2 {
	font-size: 2.75em;
	font-weight: bold;
	margin-bottom: -12px;
	width: 100%;
}


nav ul {
	list-style: none;
	text-align: center;
	margin-left: -40px;
	font-size: 2.5em;
}

nav li:nth-child(n+2) {
	margin-top: 30px;
}

/* 7. Aside Styles */
aside {
	margin-top: -90px;
}

aside h2 {
	font-weight: lighter;
	font-size: 3em;
	text-align: center;
	border-bottom: 2px solid white;
	padding-bottom: 5px;
	margin-left: 0;
	margin-bottom: 20px;
}

aside ul {
	font-size: 1.5em;
	list-style: "━ ";
}

aside li:nth-child(n+2) {
	margin-top: 30px;
}

/* 8. Figure & Image Styles */

figure {
	position: relative;
	text-align: center;
	margin-top: -50px;
}

figure::before {
	content: "";
	position: absolute;
	top: -30px;
	left: 10px;
	width: 80%;
	height: 78%;
	background: linear-gradient(to top left, #642b3a 65%, #3b313a 100%);
	border: 3px solid red;
	z-index: 0;
}

figure img {
	position: relative;
	width: 80%;
	max-height: 768px;
	
	border: 3px solid red;
	z-index: 1;
}

figcaption {
	font-size: 1.55em;
}

/* 9. Link Styles */
a {
	color: white;
}

a:hover {
	color: #c41e3a;
	transition: 0.25s;
}

/* 10. Footer Styles */
footer {
	text-align: center;
	font-size: 1.5em;
}

footer p > a {
	text-decoration: none;
}


/* 11. Mobile Navigation (Hamburger / Curtain Menu) */
.hamburger-icon, #myNav, .overlay {
	display: none;
}

@media screen and (max-width: 1024px) {
	div h2 {
		text-decoration: underline;
	}

	.hamburger-icon {
		display: block;
		position: fixed;
		top: 20px;
		right: 30px;
		font-size: 2em;
		color: white;
		z-index: 1001;
	}

	.overlay {
		display: block;
		height: 0%;
		width: 100%;
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, #1c1f23 0%, #2e2f36 40%, #611e2e 80%, #801b28 100%);
		overflow-y: hidden;
		transition: height 0.5s ease;
	}

	.overlay-content {
		position: relative;
		top: 15%;
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}

	.overlay-content h2 {
		font-size: 2em;
		color: white;
		margin-bottom: 40px;
		font-weight: normal;
	}

	.overlay-content a {
		padding: 10px;
		text-decoration: underline;
		font-size: 2em;
		color: white;
		display: block;
		transition: 0.3s;
	}

	.overlay-content a:hover {
		color: #c41e3a;
	}

	.closebtn {
		position: absolute;
		top: 20px;
		right: 35px;
		font-size: 3em;
		color: white;
		text-decoration: none;
	}

	.nav-footer {
		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;
		font-size: 1.5em;
		color: white;
	}

	.nav-footer a {
		color: white;
	}
}

/* 12. Responsive Layout (Media Queries) */

/* One-column stacked layout for tablets and phones */
@media screen and (max-width: 1180px) {
	main {
		flex-direction: column;
		align-items: center;
		padding: 20px;
		width: 100%;
	}

	html,
	body {
		min-height: 100%;
		margin: 0;
		background: linear-gradient(to bottom, #1c1f23 0%, #2e2f36 40%, #611e2e 80%, #801b28 100%);
		background-repeat: no-repeat;
		background-attachment: fixed;
		font-family: 'Agency', sans-serif;
		color: white;
		overflow-x: hidden;
	}

	figure,
	aside {
		flex: 1 1 80%;
		max-width: 80%;
		margin-top: 8px;
	}

	figure img {
		max-width: 100%;
		height: auto;
		display: block;
		margin-left: 20px;
		max-height: 400px;
		object-fit: cover;
	}

	figure::before {
		top: -20px;
		left: -20px;
		width: 80%;
		height: 70%;
		margin-left: 20px;
	}

	figcaption {
		font-size: 1.2em;
		padding-top: 10px;
		text-align: center;
		margin-left: -30px;
	}

	aside h2 {
		font-size: 1.7em;
		text-decoration: underline;
		border-bottom: none;
		margin-bottom: 20px;
		text-align: center;
	}

	aside ul {
		font-size: 1.05em;
		list-style: "━ ";
		text-align: left;
		margin-left: -40px;
	}

	nav {
		display: none;
	}

	footer {
		font-size: 1.2em;
		text-align: center;
		padding: 20px 10px;
	}

}
